html
    body
        margin: 0px
        font-family: "Nunito", Arial, sans-serif
        color: #FFFFFF
        font-size: 18px
    p, h1, h2, h3, h4, h5, h6
        margin: 0px
        font-weight: normal
    .metadata, .md
        display: none
    h1
        font-size: 50px
    h2
        font-size: 35px
    h3
        font-size: 30px
    h4
        font-size: 25px
    h5
        font-size: 20px
    a, a:link, a:visited, a:link:active, a:visited:active
        text-decoration: none
        outline: none
        color: white
    a
        display: block
    img
        display: block
    input:focus, button:focus, textarea:focus, div, p, svg
        outline: none
    input, textarea, button
        color: #FFFFFF
        font-family: "Roboto", Arial, sans-serif
        border: none
        font-size: 15px
    input[type="range"]
        display: none
    .flex-row
        display: flex
        justify-content: center
        flex-direction: row
        width: 100%
    .flex-col
        display: flex
        justify-content: center
        flex-direction: column
        height: 100%
    .invisible
        visibility: none
.bg
    background: linear-gradient(to bottom right, #192A3D, #181D28)
    width: 100%
    height: 100%
    position: fixed
    z-index: 5
.fg
    width: 100%
    height: 100%
    position: fixed
    z-index: 80
    transition: opacity $transition-long
    background-color: transparent
    pointer-events: none
    opacity: 0
    background-color: #000000
    &.visible
        transition: opacity $transition-long
        pointer-events: all
        opacity: 0.3
    &.short
        transition: opacity $transition
.button-highlight
    cursor: pointer
    border-radius: 3px
    background-color: rgba(#FFFFFF, 0.05)
    box-shadow: $shadow-1
    width: 100px
    transition: background-color $transition-short, box-shadow $transition-short
    &.secondary:focus
        box-shadow: $shadow-4
        &:active
            background-color: rgba(#FFFFFF, 0.025)
    &:focus
        box-shadow: $shadow-4
        &:active
            background-color: rgba(#FFFFFF, 0.10)
            box-shadow: $shadow-4
    &.secondary
        background-color: transparent
        box-shadow: none
        width: auto
