@keyframes show-fields
    0%
        height: 0px
        margin: 0px
        padding: 0px
        width: 0px

        opacity: 0
    33%
        opacity: 0
    66%
        height: 42px
        margin: 10px 0px
        padding: 12px 12px
        width: 100%
    100%
        opacity: 1

        height: auto
        margin: 10px 0px
        padding: 12px 12px
        width: 100%
@keyframes hide-fields
    0%
        opacity: 1

        height: auto
        margin: 10px 0px
        padding: 12px 12px
        width: 100%
    66%
        opacity: 0
    33%
        height: 42px
        margin: 10px 0px
        padding: 12px 12px
        width: 100%
    100%
        height: 0px
        margin: 0px
        padding: 0px
        width: 0px

        opacity: 0
main.home-page-logged-out
    min-height: 420px
    display: flex
    flex-direction: column
    position: fixed
    z-index: 20
    // width: calc(100% - 40px)
    // padding: 20px
    height: 100%
    width: 100%
    p.logo
        margin-top: 14px
        left: 50%
        top: 0px
        text-align: center
        font-size: 70px
        font-family: "Nunito", sans-serif
    .form
        left: 50%
        height: 80%
        position: relative
        transform: translateX(-50%)
        width: 270px
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0px 15px
        input
            box-sizing: border-box
            width: 100%
            padding: 12px 12px
            background-color: rgba(#FFFFFF, 0.05)
            box-shadow: $shadow-1
            font-size: 15px
            border-radius: 3px
            height: 42px
        &.expanded.login .fields input.for-login,
        &.expanded.register .fields input.for-register
            opacity: 1
            height: auto
            pointer-events: all
            margin: 10px 0px
            width: 100%
            padding: 12px 12px
            animation-name: show-fields
            animation-duration: .3s
        &.has-been-expanded .fields input
            animation-duration: .3s
        .fields
            transition: opacity $transition, height $transition
            display: flex
            flex-direction: column
            align-items: center
            .success
                font-size: 15px
                opacity: 0
                height: 0px
                position: relative
                transition: opacity $transition, height $transition
                &.visible
                    opacity: 1
                    height: 18px
            .error
                width: 300px
                font-size: 15px
                height: 0px
                color: #FF7777
                opacity: 0
                transition: opacity $transition, height $transition, padding $transition
                margin-left: 50px
                height: 0px
                &.visible
                    opacity: 1
                    height: 14px
                    padding-top: 4px
            input
                animation-name: hide-fields
                animation-duration: 0s
                pointer-events: none
                opacity: 0
                height: 0px
                margin: 0px
                padding: 0px
                width: 0px
        .buttons
            display: flex
            input.login
                margin-left: 0px
            input.register
                margin-right: 0px
            input
                margin: 10px
                cursor: pointer
                transition: background-color $transition
                &:hover
                    background-color: rgba(#FFFFFF, 0.10)
                &:focus
                    background-color: rgba(#FFFFFF, 0.10)
