.rangeSlider
    cursor: pointer
    height: 4px
    position: relative
    background-color: rgba(#FFFFFF, 0.4)
    .rangeSlider__buffer
    .rangeSlider__fill
        background-color: rgba(#FFFFFF, 0.75)
        height: 100%
        position: absolute
    .rangeSlider__handle
        height: 12px
        width: 12px
        background-color: #FFFFFF
        border-radius: 100%
        position: absolute
        bottom: -100%
    &::after
        content: ""
        display: block
        position: absolute
        top: -15px
        bottom: -15px
        left: 0px
        right: 0px
.player
    z-index: 60
    width: 100%
    height: 80px
    position: fixed
    bottom: 0px
    background-color: rgba(#FFFFFF, 0.1)
    &.playing, &.paused
        .controls .left
            opacity: 1
            pointer-events: all
        .rangeSlider.progress-slider
            opacity: 1
            pointer-events: all
    .rangeSlider.progress-slider
        opacity: 0
        pointer-events: none
        transition: opacity $transition, background-color $transition
        width: calc(100% - 80px + 12px)
        left: calc(80px - 12px/2)
        background-color: transparent
        &:hover, &.mouse-down
            background-color: rgba(#FFFFFF, 0.4)
        .rangeSlider__buffer
            z-index: 62
        .rangeSlider__fill
            z-index: 64
        .rangeSlider__handle
            z-index: 66
    .controls
        display: flex
        width: 100%
        height: 100%
        justify-content: space-between
        > div
            height: 100%
            width: calc(50% - 180px/2)
            display: flex
            align-items: center
        .left
            opacity: 0
            pointer-events: none
            transition: opacity $transition
            justify-content: flex-start
            min-width: 0
            .cover
                height: 80px
                width: 80px
                position: relative
                bottom: 4px
                z-index: 65
            .track-info
                padding-left: 10px
                overflow: hidden
                > div
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                .title
                    font-size: 18px
                .artist
                    font-size: 14px
                    color: rgba(#FFFFFF, 0.75)
        .middle
            justify-content: center
            width: 180px
            .icon
                width: 30px
                height: 30px
            .icon.play-pause
                width: 40px
                height: 40px
        .right
            justify-content: flex-end
            .volume-container
                display: flex
                align-items: center
                padding-left: 40px
                &:hover, &.mouse-down
                    .volume-slider
                        opacity: 1
                        transform: translateX(0px) scale(1)
                .volume-slider
                    opacity: 0
                    transform: translateX(20%) scale(0.75)
                    transition: opacity $transition, transform $transition
                    width: 100px
                    &::after
                        left: -6px
                        right: -6px
                    .rangeSlider__buffer
                        z-index: 62
                    .rangeSlider__fill
                        z-index: 64
                    .rangeSlider__handle
                        z-index: 66
            .icon.queue
                margin-right: 20px
                min-width: 24px
