html body { background-color: #242933; margin: 0px; font-family: "Roboto", Arial, sans-serif; color: #FFFFFF; font-size: 18px; }

html p, html h1, html h2, html h3, html h4, html h5, html h6 { margin: 0px; font-weight: normal; }

html .metadata, html .md { display: none; }

html h1 { font-size: 50px; }

html h2 { font-size: 35px; }

html h3 { font-size: 30px; }

html h4 { font-size: 25px; }

html h5 { font-size: 20px; }

html a, html a:link, html a:visited, html a:link:active, html a:visited:active { text-decoration: none; outline: none; color: white; }

html img { display: block; }

html input:focus, html button:focus, html textarea:focus, html div, html p { outline: none; }

html input, html textarea, html button { color: #FFFFFF; font-family: "Roboto", Arial, sans-serif; border: none; font-size: 15px; }

html input[type="range"] { display: none; }

html .flex-row { display: flex; justify-content: center; flex-direction: row; width: 100%; }

html .flex-col { display: flex; justify-content: center; flex-direction: column; height: 100%; }

html .invisible { visibility: none; }

header.app-bar { height: 64px; display: flex; justify-content: space-between; background-color: #2D313B; align-items: center; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); position: fixed; width: 100%; }

header.app-bar .app-bar-button { width: 44px; height: 44px; margin: 10px; background-repeat: no-repeat; background-position: center; transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1); }

header.app-bar .app-bar-button:hover { cursor: pointer; box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4), 0px 0px 0px 0px rgba(0, 0, 0, 0.4); }

header.app-bar .app-bar-button:active, header.app-bar .app-bar-button:focus { box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.4), 0px 0px 8px 0px rgba(0, 0, 0, 0.4); }

header.app-bar .sidebar-toggle { background-image: url("/img/ic_menu_white_24px.svg"); }

header.app-bar .account-icon { background-image: url("/img/ic_account_circle_white_24px.svg"); }

header.app-bar .search-bar { padding: 12px 12px 12px calc(10px + 24px + 10px); width: 50%; max-width: 500px; background-image: url("/img/ic_search_white_24px.svg"); background-repeat: no-repeat; background-position: 12px 50%; background-color: #393D47; transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1); }

header.app-bar .search-bar:active, header.app-bar .search-bar:focus { box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.4), 0px 0px 8px 0px rgba(0, 0, 0, 0.4); }

aside.sidebar { position: absolute; bottom: 0px; height: calc(100% - 64px); width: 200px; transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), width 0.15s cubic-bezier(0.4, 0, 0.2, 1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); background-color: #2D313B; }

aside.sidebar::after { content: ""; position: absolute; width: 100%; height: 6px; top: -6px; background-color: inherit; }

aside.sidebar .sidebar-container { width: 100%; height: 100%; overflow-y: scroll; }

aside.sidebar .sidebar-container .item { font-size: 15px; font-weight: 500; height: 30px; line-height: 30px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

aside.sidebar .sidebar-container .item:hover { background-color: #393D47; cursor: pointer; }

aside.sidebar .sidebar-container .spacer { height: 10px; }

aside.sidebar .sidebar-resizer { position: absolute; height: 100%; width: 8px; top: 0px; right: 0px; transform: translateX(50%); cursor: col-resize; }

main.songs-page { position: absolute; height: calc(100% - 64px); overflow: scroll; width: calc(100% - 200px); right: 0px; transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1), left 0.15s cubic-bezier(0.4, 0, 0.2, 1); margin-top: 64px; z-index: -1; }

div.music-table { display: flex; justify-content: center; font-size: 14px; color: rgba(255, 255, 255, 0.8); margin: 20px auto; width: calc(100% - 20px); }

div.music-table div.col { display: flex; flex-direction: column; min-width: 0px; color: rgba(255, 255, 255, 0.8); }

div.music-table div.col.flexible-width { width: 0px; }

div.music-table div.col.name { text-align: left; flex-grow: 0.5; }

div.music-table div.col.time { text-align: right; width: 60px; }

div.music-table div.col.artist { text-align: left; flex-grow: 0.25; }

div.music-table div.col.album { text-align: left; flex-grow: 0.25; }

div.music-table div.col.date-added { text-align: left; width: 95px; }

div.music-table div.col.plays { text-align: right; width: 60px; }

div.music-table div.col div.cell:first-child { font-weight: 500; font-variant-caps: all-small-caps; color: #FFFFFF; position: relative; overflow: visible; }

div.music-table div.col div.cell:first-child .col-resizer { width: 8px; height: 16px; position: absolute; right: 0px; top: 50%; cursor: col-resize; transform: translate(50%, -50%); z-index: 5; }

div.music-table div.col div.cell:first-child .col-resizer div.line { width: 1px; height: 100%; background-color: #4F535B; margin: auto; pointer-events: none; }

div.music-table div.col div.cell { height: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 10px; }

div.music-table div.col div.cell.time:nth-child(n+2) { color: rgba(255, 255, 255, 0.4); }
