header.app-bar
    position: fixed
    z-index: 50
    width: calc(100% - 40px)
    height: 36px
    padding: 14px 20px
    display: flex
    justify-content: space-between
    align-items: center
    .left
        width: 100px
        margin-right: 20px
        .logo
            font-family: "Nunito", sans-serif
            font-size: 23px
            display: inline-block
            height: 36px
            line-height: 36px
            padding: 0px 6px
            vertical-align: middle
            cursor: pointer
    input.search-bar
        font-size: 15px
        font-family: "Nunito", sans-serif

        border-radius: 3px
        padding: 8px 12px
        background-color: transparent
        border-bottom: 4px blue
        width: 50%
        max-width: 500px
        background-color: rgba(#FFFFFF, 0.05)
    .right
        width: 100px
        margin-left: 20px
        display: flex
        justify-content: space-between
        padding: 0px 6px
        button
            width: 36px
            height: 36px
            border-radius: 3px
            background-color: rgba(#FFFFFF, 0.05)
            background-size: 24px
            background-repeat: no-repeat
            background-position: center
            transition: background-color $transition
        .playlists
            background-image: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 24 24" height="24" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24" x="0px" xml:space="preserve" y="0px"><g id="XMLID_1_"><path d="M0,0h24v24H0V0z" fill="none"/><g id="XMLID_2_"><rect height="2" id="XMLID_3_" width="12" x="4" y="10"/><rect height="2" id="XMLID_4_" width="12" x="4" y="6"/><rect height="2" id="XMLID_5_" width="8" x="4" y="14"/><polygon id="XMLID_6_" points="14,14 14,20 19,17   "/></g></g></svg>')
        .account
            background-image: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M3 5v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2H5c-1.11 0-2 .9-2 2zm12 4c0 1.66-1.34 3-3 3s-3-1.34-3-3 1.34-3 3-3 3 1.34 3 3zm-9 8c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1H6v-1z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')
aside.sidebar
    width: 200px
    height: calc(100% - 64px - 20px)
    padding: 10px 0px
    top: 64px
    right: 0px
    position: fixed
    z-index: 20
    background-color: rgba(#ffffff, 0.05)
    box-shadow: $shadow-2-left, $shadow-1-inset-top
    overflow-y: scroll
    transition: transform $transition
    &.hidden
        transform: translateX(calc(100% + 3px))
    .sidebar-resizer
        width: 7px
        transform: translateX(-50%)
        cursor: col-resize
        height: 100%
        position: absolute
        top: 0px
        z-index: 25
    button.create-playlist
        background-color: transparent
        position: absolute
        margin-right: 16px
        margin-top: 8px
        right: 0px
        height: 24px
        width: 24px
        background-size: 24px
        background-repeat: no-repeat
        background-position: center
        background-image: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')
        cursor: pointer
        transition: opacity $transition
        &:focus:active
            opacity: 0.7
        &:focus
            opacity: 0.8
    .header
        font-family: "Roboto", sans-serif
        font-variant-caps: all-small-caps
        padding: 0px 24px
        font-size: 16px
        height: 40px
        line-height: 40px
    .item
        cursor: pointer
        padding: 0px 24px
        height: 36px
        line-height: 36px
        color: rgba(#ffffff, 0.75)
        font-size: 14px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        padding-left: 48px
        background-size: 24px
        background-repeat: no-repeat
        background-position: 24px center
        &:hover
            background-color: rgba(#ffffff, 0.025)
    .playlist
        background-image: url('data:image/svg+xml;utf8,<svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 24 24" height="24" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24" x="0px" xml:space="preserve" y="0px"><g id="XMLID_1_"><path d="M0,0h24v24H0V0z" fill="none"/><g id="XMLID_2_"><rect height="2" id="XMLID_3_" width="12" x="4" y="10"/><rect height="2" id="XMLID_4_" width="12" x="4" y="6"/><rect height="2" id="XMLID_5_" width="8" x="4" y="14"/><polygon id="XMLID_6_" points="14,14 14,20 19,17   "/></g></g></svg>')
main.content
    display: flex
    width: calc(100% - 200px)
    height: calc(100% - 64px - 20px)
    padding-top: 20px
    position: absolute
    top: 64px
    z-index: 20
    box-shadow: $shadow-3-inset-top
    &.transitioning
        transition: width $transition
main.music-page
    width: 100%
    height: 100%
    padding: 0px 20px
    overflow-y: scroll
    header.playlist-header
        width: 100%
        margin-bottom: 20px
        display: flex
        .image
            background-repeat: no-repeat
            background-size: cover
            width: 200px
            height: 200px
        .playlist-info
            display: flex
            flex-direction: column
            justify-content: center
            margin-left: 20px
            p.playlist-name
                font-size: 35px
            p.playlist-description
                font-size: 15px
                color: rgba(#FFFFFF, 0.75)
    .music-table.rearranging .col .cell.hover
        background-color: transparent
    .music-table
        font-size: 14px
        display: flex
        justify-content: center
        color: rgba(#FFFFFF, 0.75)
        border-radius: 3px
        padding: 0px 14px
        background: linear-gradient(to bottom, rgba(#FFFFFF, 0.10) 48px, rgba(#FFFFFF, 0.05) 48px)
        box-shadow: $shadow-1
        margin-bottom: 20px
        .col
            position: relative
            transition: left $transition-short
            left: 0px
            &.no-transition
                transition: none
            &.flexible-width
                width: 0px
            &:first-child, &:last-child
                .cell.hover::after
                        content: ""
                        position: absolute
                        height: 36px
                        width: 14px
                        transform: translateY(-10px)
                        background-color: rgba(#FFFFFF, 0.025)
            &:first-child
                .cell:first-child
                    border-top-left-radius: 3px
                .cell.hover::after
                    right: 100%
            &:last-child
                .cell:first-child
                    border-top-right-radius: 3px
                .cell.hover::after
                    left: 100%
            &.rearranging
                box-shadow: $shadow-3
            .cell
                &.hover
                    background-color: rgba(#FFFFFF, 0.025)
                height: 16px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                &.time:nth-child(n+2)
                    color: #76797F
                padding: 10px
                &:last-child
                    margin-bottom: 12px
                &:first-child
                    padding-top: 22px
                    font-family: "Roboto", sans-serif
                    font-size: 14px
                    font-variant-caps: all-small-caps
                    color: #FFFFFF
                    position: relative
                    cursor: move
                    span.col-span
                        cursor: pointer
            &.flexible-width:not(.last-non-auto), &.fixed-width:not(.last-non-auto)
                .cell:first-child .col-resizer
                    width: 9px
                    height: 100%
                    padding: 0px 2px
                    position: absolute
                    right: -3px
                    top: 50%
                    cursor: col-resize
                    transform: translate(3px, -50%)
                    .line
                        width: 2px
                        height: 100%
                        background-color: rgba(#FFFFFF, 0.05)
                        margin: auto
                        pointer-events: none
