.dialog.createPlaylist
    .title New playlist
    input.name.focus-this(placeholder="Name")
    textarea.description(placeholder="Description")
    .buttons
        button.button-highlight.secondary.cancel Cancel
        button.button-highlight.primary.create-playlist Create
.dialog.confirm
    .title Title
    p.description Description
    .buttons
        button.button-highlight.secondary.cancel.focus-this Cancel
        button.button-highlight.primary.confirm Confirm
