.dialog.createPlaylist
    .title New Playlist
    input.name.focus-this(placeholder="Name")
    textarea.description(placeholder="Description")
    .buttons
        button.button-highlight.secondary.cancel Cancel
        button.button-highlight.primary.create-playlist Create
