header.app-bar
    .left
        .logo.link(data-href="/", tabindex="0") Ferrum
    input.search-bar(placeholder="Search", tabindex="0")
    .right
        //- .logout Logout
        .playlists.button-highlight(tabindex="0")
        .account.button-highlight(tabindex="0")
main.content
    main.music-page
        header.playlist-header
            img.image(src="/cdn/cover.jpg")
        .music-table
            mixin column(colType, colName, colTitle)
                div(class=`col ${colName} ${colType}`)
                    div(class="cell "+colName)
                        span.col-span= colTitle
                        div(class="col-resizer "+colName)
                            .line
                        .sort-icon
                    each track, index in tracks
                        div(class=`cell ${colName} track-${index+1}`)= track[colName]
            +column("flexible-width", "name", "Name")
            +column("auto-width", "time", "Time")
            +column("flexible-width", "artist", "Artist")
            +column("flexible-width", "album", "Album")
            +column("auto-width", "dateAdded", "Date Added")
            +column("auto-width", "plays", "Plays")
aside.sidebar
    .sidebar-resizer
    .header Library
    .item.category Home
    .item.category Tracks
    .item.category Artists
    .item.category Albums
    .item.category Genres
    .item.category Tags
    .create-playlist-button(tabindex="0")
    .header Playlists
    .item.playlist One
    .item.playlist Two
    .item.playlist Pac
