.player
    audio(preload="auto" src="")
    input.progress-slider(type="range")
    .controls
        .left
            img.cover(src="/cdn/cover.jpg")
            .track-info
                .name Gravity
                .artist EDEN
        .middle
            //- svg.play-icon(tabindex="0" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24")
            //-     path(d="M8 5v14l11-7z")
            //-     path(d="M0 0h24v24H0z" fill="none")
            svg.icon.prev(tabindex="0" fill="#FFFFFF", height="24", viewbox="0 0 24 24", width="24", xmlns="http://www.w3.org/2000/svg")
                path(d="M6 6h2v12H6zm3.5 6l8.5 6V6z")
                path(d="M0 0h24v24H0z", fill="none")
            svg.icon.play-pause(tabindex="0" fill="#FFFFFF", height="24", viewbox="0 0 24 24", width="24", xmlns="http://www.w3.org/2000/svg")
                path(d="M0 0h24v24H0z", fill="none")
                path(d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z")
            svg.icon.next(tabindex="0" fill="#FFFFFF", height="24", viewbox="0 0 24 24", width="24", xmlns="http://www.w3.org/2000/svg")
                path(d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z")
                path(d="M0 0h24v24H0z", fill="none")
        .right
            .volume-container
                input.volume-slider(type="range")
                svg.icon.volume(data-loudness="x" tabindex="0" fill="#ffffff", height="24", viewbox="0 0 24 24", width="24", xmlns="http://www.w3.org/2000/svg")
