@import "defaults.sass"
body
    background: linear-gradient(to bottom right, #192A3D, #181D28)
header.app-bar
    width: calc(100% - 28px)
    height: 36px
    padding: 14px
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        font-family: "Nunito", sans-serif
        font-size: 23px

        width: 100px
        background-color: rgba(#FFFFFF, 0.1)
        padding: 0px 20px

    input.search-bar
        font-size: 15px
        font-family: "Nunito", sans-serif

        border-radius: 3px
        padding: 8px 12px
        background-color: transparent
        border-bottom: 4px blue
        width: 50%
        max-width: 500px
        background-color: rgba(#FFFFFF, 0.05)

    .icons
        font-family: "Nunito", sans-serif
        font-size: 23px

        width: 100px
        background-color: rgba(#FFFFFF, 0.1)
        padding: 0px 20px

main.home-page
    width: calc(100% - 40px)
    padding: 20px
    header.playlist-header
        width: 100%
        margin-bottom: 20px
        .image
            background-repeat: no-repeat
            background-size: cover
            width: 200px
            height: 200px
    .music-table
        font-family: "Nunito", sans-serif
        font-size: 14px
        display: flex
        justify-content: center
        color: #d0d2d5
        background-color: rgba(#FFFFFF, 0.05)
        border-radius: 3px
        .col
            .cell
                &.hover
                    background-color: rgba(#F7F7F7, 0.03)
                height: 16px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                &.time:nth-child(n+2)
                    color: #76797F
                padding: 10px
                &:last-child
                    margin-bottom: 12px
                &:first-child
                    padding-top: 22px
                    background-color: rgba(#F7F7F7, 0.05)
                    font-family: "Roboto", sans-serif
                    font-size: 14px
                    font-variant-caps: all-small-caps
                    color: #FFFFFF
                    position: relative
                    span
                        cursor: pointer
                    .col-resizer
                        width: 9px
                        height: 100%
                        padding: 0px 2px
                        position: absolute
                        right: 0px
                        top: 50%
                        cursor: col-resize
                        transform: translate(3px, -50%)
                        .line
                            width: 2px
                            height: 100%
                            background-color: rgba(#FFFFFF, 0.05)
                            margin: auto
                            pointer-events: none
        .col:first-child .cell
            padding-left: 24px
            &:first-child
                border-top-left-radius: 3px
        .col:last-child .cell
            padding-right: 24px
            &:first-child
                border-top-right-radius: 3px
        .col.artist
            width: 1000px
