html body {
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
  color: #FFFFFF;
  font-size: 18px; }

html p, html h1, html h2, html h3, html h4, html h5, html h6 {
  margin: 0px;
  font-weight: normal; }

html .metadata, html .md {
  display: none; }

html h1 {
  font-size: 50px; }

html h2 {
  font-size: 35px; }

html h3 {
  font-size: 30px; }

html h4 {
  font-size: 25px; }

html h5 {
  font-size: 20px; }

html a, html a:link, html a:visited, html a:link:active, html a:visited:active {
  text-decoration: none;
  outline: none;
  color: white; }

html img {
  display: block; }

html input:focus, html button:focus, html textarea:focus, html div, html p {
  outline: none; }

html input, html textarea, html button {
  color: #FFFFFF;
  font-family: "Roboto", Arial, sans-serif;
  border: none;
  font-size: 15px; }

html input[type="range"] {
  display: none; }

html .flex-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%; }

html .flex-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

html .invisible {
  visibility: none; }

body {
  background: linear-gradient(to bottom right, #192A3D, #181D28); }

header.app-bar {
  width: calc(100% - 28px);
  height: 36px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header.app-bar .logo {
    font-family: "Nunito", sans-serif;
    font-size: 23px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 20px; }
  header.app-bar input.search-bar {
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    border-radius: 3px;
    padding: 8px 12px;
    background-color: transparent;
    border-bottom: 4px blue;
    width: 50%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.05); }
  header.app-bar .icons {
    font-family: "Nunito", sans-serif;
    font-size: 23px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 20px; }

main.home-page {
  width: calc(100% - 40px);
  padding: 20px; }
  main.home-page header.playlist-header {
    width: 100%;
    margin-bottom: 20px; }
    main.home-page header.playlist-header .image {
      background-repeat: no-repeat;
      background-size: cover;
      width: 200px;
      height: 200px; }
  main.home-page .music-table {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 50px 1fr 1fr 95px 60px;
    justify-content: center;
    color: #d0d2d5;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 3px; }
    main.home-page .music-table .col .cell {
      height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px; }
      main.home-page .music-table .col .cell:hover {
        background-color: rgba(247, 247, 247, 0.03); }
      main.home-page .music-table .col .cell.time:nth-child(n+2) {
        color: #76797F; }
      main.home-page .music-table .col .cell:last-child {
        margin-bottom: 12px; }
      main.home-page .music-table .col .cell:first-child {
        padding-top: 22px;
        background-color: rgba(247, 247, 247, 0.05);
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-variant-caps: all-small-caps;
        color: #FFFFFF; }
        main.home-page .music-table .col .cell:first-child span {
          cursor: pointer; }
    main.home-page .music-table .col:first-child .cell {
      padding-left: 24px; }
      main.home-page .music-table .col:first-child .cell:first-child {
        border-top-left-radius: 3px; }
    main.home-page .music-table .col:last-child .cell {
      padding-right: 24px; }
      main.home-page .music-table .col:last-child .cell:first-child {
        border-top-right-radius: 3px; }
    main.home-page .music-table .col.artist {
      width: 1000px; }
