RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php


# RewriteEngine On
#
# Skip existing files or directories
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
#
# Everything else goes to index.php
# RewriteRule ^ index.php [L]
# RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]
# RewriteRule ^$ /pages [NC,L,QSA]
#
# Redirects
# RedirectMatch 301 /includes(.*) /
# RedirectMatch 301 /.sass-cache(.*) /
